.App {
  text-align: center;
}


.VI{
  margin-left:10% ;
  width: 50%;
  height: 50%;
  
}
.myprofile{

  margin-left:10%;
  width: 50%;
  height: 50%;
  
}

.my-profile{
  
  margin-left:10% ;
  width: 50%;
  height: 50%;

}
.title-red{
  color: rgb(252, 15, 15);

  margin-left:20% ;
  width: 50%;
  height: 50%;
  white-space:pre-wrap;
  

}
.principal{
  max-width: 100%;
  max-height: 100%;
  margin-left:25% ;

}



